@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --primary-color: rgb(255, 190, 51);
  --secondary-color: rgb(34, 40, 49);
  --text-color: rgb(31, 31, 31);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #0c0c0c;
  background-color: var(--white);
}

h1,
h2,
h3,
h4 {
  font-family: 'Dancing Script', cursive;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

a {
  color: var(--white) !important;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color) !important;
}

button:hover {
  background-color: #E69C00;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

svg:hover {
  fill: var(--primary-color) !important;
}

.hero {
  height: 100vh;
  width: 100%;
}

.bg-box {
  height: 100vh;
  width: 100%;
}

.bg-primary-color {
  background-color: var(--primary-color) !important;
}

.text-primary-color {
  color: var(--primary-color) !important;
}

.navbar-brand span {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: 700;
}

.navbar-nav {
  padding-left: 18%;
}

.nav-link {
  padding: 0.313rem 1.25rem !important;
  text-align: center;
  transition: all 0.3s;
}

.user-option {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.user-option .cart-link svg {
  width: 1rem;
  height: auto;
}

.carousel-section {
  padding: 2.813rem 0 4.688rem 0;
}

.carousel-item p {
  font-size: 0.875rem;
}

.carousel-item .info-box {
  margin-bottom: 9.063rem;
}

.carousel-indicators button {
  width: 0.75rem !important;
  height: 0.75rem !important;
  background-color: var(--white) !important;
  border-radius: 100%;
}

.carousel-indicators .active {
  width: 1.25rem !important;
  height: 1.25rem !important;
  background-color: var(--primary-color) !important;
}

.ofertas {
  gap: 30px;
  font-family: 'Dancing Script', cursive;
}

.card-ofertas {
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #222831;
  column-gap: 20px;
  width: 550px;
  border-radius: 5px;

}

.img-ofertas {
  border: 5px solid var(--primary-color);
  border-radius: 50%;
  overflow: hidden;
}

.img-ofertas img {
  border-radius: 50%;
  width: 170px;
  transition: all 0.2s linear;
}

.valor-oferta {
  font-size: 40px;
}

.btn-oferta {
  background-color: var(--primary-color);
  color: var(--black);
  padding: 14px 40px;
  border-radius: 30px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  transition: all 0.2s linear;
}

.img-ofertas img:hover {
  scale: 1.1;
}

.btn-menu {
  padding: 8px 25px;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.2s linear;
}

.btn-menu:hover {
  background-color: #222831;
  color: white;
}

.btn-preco {
  background-color: #FFBE33;
  padding: 10px 15px;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.2s linear;
}

.item-cardapio {
  border-radius: 15px;
  padding: 0px;
  margin: 15px;
  background-color: #222831;
  overflow: hidden;
}

.img-cardapio {
  border-bottom-left-radius: 40px;
  height: 200px;
  background-color: #F1F2F3;
}

.img-cardapio img {
  width: 160px;
  transition: all 0.2s linear;
}

.img-cardapio img:hover {
  scale: 1.1;
}

.descricao-cardapio {
  color: white;
  padding: 20px;
}

.about_section {
  padding: 90px 0;
  background: var(--secondary-color);
  color: #ffffff;
}

.about_section .container .row{
  align-items: center;
  height: 100%;
}

.about_section .row a {
  display: inline-block;
  margin: 15px 0;
  padding: 10px 45px;
  background-color: var(--primary-color);
  border-radius: 1.5em;
}

.image_box img{
  width: 100%;
  max-width: 445px;
}

.about_text h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.about_text p {
  margin-top: 15px;
}

.comentario {
  background-color: rgb(34, 40, 49);
}

.foto-depoimento {
  position: relative;
  align-items: center;
}

.foto-depoimento::before {
  content: "";
  position: absolute;
  left: 38%;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  transform: rotate(45deg) translateX(-50%);
  z-index: -1;
}

.foto{
  width: 7rem;
}

#carouselExample {
  position: relative;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  gap: 8px;
}

.carousel-controls button {
  color: #0c0c0c;
}

.carousel-controls span {
  width: 20px;
}

.carousel-control-prev, .carousel-control-next {
  max-width: 40px;
  padding: 4px;
  justify-content: center;
  align-items: center;
}

.formulario-inputs{
  width: 50%;
}

footer {
  background-color: var(--secondary-color);
  color: var(--white);
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-gap: 5px ; */
  grid-template-areas:
    'contact feane opening'
    'rights rights rights';
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 75px 0 40px 0;
}

footer h4 {
  margin-bottom: 20px;
}

#footer-feane {
  grid-area: feane;
}
#footer-contact {
  grid-area: contact;
}
#footer-opening {
  grid-area: opening;
}
#footer-rights {
  grid-area: rights;
}

#footer-contact p{
  margin: 5px ;
}

#footer-feane div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-feane a {
margin: 2.5px;
}

footer a {
background-color: white;
display: flex;
justify-content: center;
align-items: center;
border-radius: 100%;
width: 30px;
height: 30px;
}

footer i {
  color: black;
}

footer div {
  /* background: #990000; */
  /* display: grid; */
  /* justify-content: center; */
  /* align-content: center; */
  text-align: center;
}

footer h4 {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 38px;
}

@media (max-width: 992px) {
  .navbar-nav {
    padding-left: 0;
  }
  .formulario-inputs,.mapa{
    width: 100%;
  }
}