@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap';

:root {
  --color-dark: rgb(22 27 31);
  --color-dark2: rgb(26 33 38);
  --color-dark3: rgb(50 57 63);
  --color-white: rgb(255 255 255);
  --color-green: rgb(103 195 80);
  --color-green2: rgb(51 149 26);
  --color-red: rgb(184 40 35);
  --color-orange: rgb(245 187 99);}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;}

body {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--color-dark);
  color: var(--color-white);
  font-family: Poppins, sans-serif;
  text-rendering: optimizeLegibility;}

header {
  width: 100vw;
  padding: 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark2);
  border-bottom: 1px solid var(--color-dark3);}

header input {
  width: 260px;
  padding: 0.75rem 1.3rem;
  padding-left: 3rem;
  border: 1px solid var(--color-dark3);
  border-radius: 2.5rem;
  font-size: 0.875rem;
  font-weight: 300;
  background-color: var(--color-dark);
  color: var(--color-white);}

header input::placeholder{
  color: rgb(165 173 180);}
  
header input:focus {
  border: 1px solid transparent;
  outline: 0.1rem solid var(--color-orange);}

.input-search {
  position: relative;
  display: flex;
  align-items: center;
  width: 260px;}

.input-search i {
  position: absolute;
  left: 1rem;
  color: rgb(165 173 180);}

main {
  width: 100%;
  height: calc(100vh - 100px);
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;}

section {
  width: 90%;
  max-width: 58rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;}

.add-task {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;}

.add-task span {
  font-size: 1.1rem;
  font-weight: 600;}

section input {
  border: none;
  font-size: 0.875rem;
  padding: 0.845rem 1.5rem;
  padding-right: 3rem;
  border-radius: 1.75rem;}

section input:focus {
  border: none;
  outline: 0.1rem solid var(--color-orange);}

#title {width: 16rem;}
#desc {width: 18rem;}

#title-char-count {
  font-size: 0.75rem; 
  font-weight: 200;
  color: var(--color-dark);}

#desc-char-count {
  font-size: 0.75rem; 
  font-weight: 200;
  color: var(--color-dark);}

section button {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;}

#add {
  background-color: var(--color-orange);
  color: var(--color-dark);}

#update {
  background-color: var(--color-dark2);
  color: var(--color-white);
  display: none;}

#add:hover {
  background-color: var(--color-dark3);
  color: var(--color-white);}
#update:hover {background-color: var(--color-dark3);}

.div-title {
  position: relative;
  display: flex;
  align-items: center;}

.div-title span {
  position: absolute;
  right: 1.2rem;
  color: inherit;
  opacity: 50%;}

.div-desc {
  position: relative;
  display: flex;
  align-items: center;}

.div-desc span {
  position: absolute;
  right: 1.2rem;
  color: inherit;
  opacity: 50%;}

.description {
  font-size: 0.813rem;
  font-weight: 300;
  color: rgb(165 173 180);}

li button {
  background-color: var(--color-dark2);
  color: var(--color-white);
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: 0.4s;}

#edit:hover {
  background-color: var(--color-white);
  color: var(--color-dark);}

#remove:hover {
  background-color: var(--color-red);
  color: var(--color-white);}
#done:hover {background-color: var(--color-green2);}

ul {
  width: 100%;
  max-height: 420px;
  background: rgb(26 33 38);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 4rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border-radius: 16px;
  box-shadow: 0 16px 32px 0 rgb(0 0 0 / 50%);}

ul li {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  list-style-type: none;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  border-left: 2px var(--color-orange) solid;
  transition: 0.2s;}

ul li div {
  justify-self: end;}

/* Estilos para a barra de rolagem */

/* Largura da barra de rolagem */

::-webkit-scrollbar {
  width: 0.5rem;}

/* Cor de fundo da barra de rolagem */

::-webkit-scrollbar-track {
  display: none;}

/* Cor da própria barra de rolagem */

::-webkit-scrollbar-thumb {
  background-color: rgb(136 136 136);
  border-radius: 10px;}

/* Cor quando você passa o mouse sobre a barra de rolagem */

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(85 85 85);}

ul li:hover {
  background-color: var(--color-dark3);
  border-radius: 1rem;
  cursor: pointer;}

li .done {
  text-decoration: line-through;
  opacity: 0.3;}
hr {border: 0.5px var(--color-dark3) solid;}

@media (width <= 320px) {

  section > div {
    font-size: 0.8rem;
    width: 14rem;}}