@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --color-dark: rgb(14, 14, 14);
  --color-dark2: rgb(32, 32, 32);
  --color-dark3: rgb(22, 22, 22);
  --color-white: rgb(255, 255, 255);
  --color-green: rgb(103, 195, 80);
  --color-green2: rgb(51, 149, 26);
  --color-red: rgb(184, 40, 35);
  --color-red2: rgb(146, 22, 17);}
* {box-sizing: border-box; margin: 0; padding: 0;}
body {background-color: var(--color-dark); color: var(--color-white); font-family: sans-serif;}
main { height: 100vh; width: 100vw;
  display: flex; flex-direction: column;
  align-items: center; justify-content: center;
  gap: 4rem;}


header {
  width: 100vw;
  padding: 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark2);
  border-bottom: 1px solid var(--color-dark3);
}

header input {
  width: 260px;
  padding: 0.5rem 1.3rem;
  border-radius: 2.5rem;
  background-color: var(--color-dark);
  border: 1px solid var(--color-dark3);
}




section {display: flex; flex-direction: column; gap: 1.5rem;}
section > div * {
  border: none;
  font-size: 1rem;
  outline: none;
  padding: 1rem;}
section input {width: 18rem; border-radius: 1rem;}
section button{width: 3.125rem; height: 3.125rem; border-radius: 50%;
  cursor: pointer; transition: 0.4s;}
#add {         background-color: var(--color-green); color: var(--color-dark);}
#update {      background-color: var(--color-dark2); color: var(--color-white); display: none;}
#add:hover {   background-color: var(--color-dark3); color: var(--color-white);}
#update:hover {background-color: var(--color-dark3);}
li button {
  background-color: var(--color-dark2);
  color: var(--color-white);
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: 0.4s;}
#edit:hover {background-color: var(--color-white); color: var(--color-dark);}
#remove:hover {background-color: var(--color-red); color: var(--color-white);}
#done:hover { background-color: var(--color-green2);}
ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  overflow: scroll;
  max-height: 420px;
  scroll-behavior: smooth;}
ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  transition: 0.2s;
}
ul li:hover {
  background-color: var(--color-dark3);
  border-radius: 1rem;
  cursor: pointer;}
li .done {text-decoration: line-through; opacity: 30%;}
hr {border: 0.5px var(--color-dark3) solid;}
@media (max-width: 320px) {
  section > div {font-size: 0.8rem;}
  section > div input {width: 14rem;}}
